<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		<header>
			<hgroup>
				<h1>JCalendar</h1>
				<h2>The best calendar on the web</h2>
			</hgroup>
			<nav id="sitenav">
				<ol>
					<li>#{a @Application.index()}Cal#{/a}
					<li>#{a @Calendars.index()}Calendars#{/a}
				</ol>
			</nav>
			<div class="login">
				#{if user}
					Logged in as ${user.getName()}
				#{/if}
				#{else}
					#{a @Secure.login()}Login#{/a}
				#{/else}
			</div>
		</header>
		<article>
        	#{doLayout /}
        </article>
    </body>
</html>
